<div class="container mx-auto pt-16">
  <section class="call-to-action mx-auto flex justify-center flex-col items-center gap-6 ">
    <div>
      <h2 class="font-black text-gray-700 tracking-tight text-3xl text-center mt-14">Course details</h2>
    </div>

    <div class="call-to-action mx-auto flex justify-center items-center gap-6">
    <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
      <img width="36" height="28" src="https://img.icons8.com/pulsar-line/48/login-rounded.png" alt="login-rounded"/>
      <button
        class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-700 font-bold hover:text-gray-700 focus:relative"
        [routerLink]="['create']"
      >
      Create
      </button>

    </div>
    <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
      <img width="32" height="20" src="https://img.icons8.com/material-rounded/24/installing-updates.png" alt="installing-updates"/>
      <button
        class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-700 font-bold hover:text-gray-700 focus:relative"
        [routerLink]="['update']"
      >
      Update
      </button>

    </div>
    <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
      <img width="32" height="24" src="https://img.icons8.com/fluency-systems-filled/48/knowledge-sharing.png" alt="knowledge-sharing"/>
      <button
        class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-700 font-bold hover:text-gray-700 focus:relative"
        [routerLink]="['get']"
      >
      Show Courses
      </button>

    </div>
  </div>
  </section>
</div>

<router-outlet></router-outlet>
