<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <form action="https://formbold.com/s/FORM_ID" method="POST">
      <div class="mb-5">
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          CollageUniqueID
        </label>
        <input
          type="text"
          name="CollageUniqueID"
          id="CollageUniqueID"
          placeholder="CollageUniqueID"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          [(ngModel)]="collagetoUpdate.CollegeId"
        />
      </div>
      <div class="mb-5">
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Collage ID
        </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Full Name"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          [(ngModel)]="collagetoUpdate.CollegeId"
        />
      </div>
      <div class="mb-5">
        <label
          for="text"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Name
        </label>
        <input
          type="text"
          name="Name"
          id="Name"
          placeholder="University"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          [(ngModel)]="collagetoUpdate.Name"
        />
      </div>
      <div class="mb-5">
        <label
          for="Location"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Location
        </label>
        <input
          type="text"
          name="subject"
          id="subject"
          placeholder="Enter Collage Location"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          [(ngModel)]="collagetoUpdate.Location"
        />
      </div>
      <div class="mb-5">
        <label
          for="message"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Description
        </label>
        <textarea
          rows="4"
          name="message"
          id="message"
          placeholder="Type your Description"
          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          [(ngModel)]="collagetoUpdate.Description"
        ></textarea>
      </div>
      <div>
        <button
          class="hover:shadow-form rounded-md bg-gradient-to-tr from-brandGrandient1 to-brandGrandient2 hover:bg-gradient-to-bl py-3 px-8 text-base font-semibold text-white outline-none"
          (click)="updateCollageById()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
